[submodule "dgtpi"]
	path = dgtpi
	url = https://github.com/lucasvdp/dgtpi.git
[submodule "scidvspc"]
	path = scidvspc
	url = https://github.com/madnight/scidvspc.git
[submodule "obooksrv"]
	path = obooksrv
	url = https://github.com/gkalab/obooksrv.git
